<div class="comments">
  {{#each this}}
  <section class="comment">

    <div class="meta comment-user">
      <img class="user-image" src="/{{user.user_image}}">
      {{user.username}} on {{format_date created_at}}
    </div>

    <div class="comment-text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>